<tvc-stepper>
  <!-- STEP 1: Property Details -->
  <tvc-step label="Property Details">
    <!-- SECTION: Property Details -->
    <tvc-step-section icon="tvc-property-details" title="Property Details">
      <tvc-section-property-details></tvc-section-property-details>
    </tvc-step-section>
    <!-- SECTION: Property Manager Detail -->
    <tvc-step-section icon="tvc-property-manager" title="Property Manager Detail">
      <tvc-section-property-manager></tvc-section-property-manager>
    </tvc-step-section>
  </tvc-step>
  <!-- STEP 2: Occupancy -->
  <tvc-step label="Occupancy">
    <!-- SECTION: Occupants -->
    <tvc-step-section icon="tvc-occupants" title="Occupants"
      subtitle="You confirm that the <a href=''>person's consent</a> to provide their personal information">
      <tvc-occupants></tvc-occupants>
    </tvc-step-section>
    <!-- SECTION: Vehicles -->
    <tvc-step-section icon="tvc-vehicles" title="Vehicles">
      <tvc-vehicles></tvc-vehicles>
    </tvc-step-section>
    <!-- SECTION: Pets -->
    <tvc-step-section icon="tvc-pets" title="Pets">
      <tvc-pets></tvc-pets>
    </tvc-step-section>
  </tvc-step>
  <!-- STEP 3: Agent Specific -->
  <tvc-step label="Agent Specific">
    <!-- SECTION: Furter Questions -->
    <tvc-step-section icon="tvc-questions" title="Furter Questions">
      <tvc-furter-questions></tvc-furter-questions>
    </tvc-step-section>
  </tvc-step>
  <!-- STEP 4: Moving Service -->
  <tvc-step label="Moving Service">
    <!-- SECTION: Furter Questions -->
    <tvc-step-section icon="tvc-utility-connection" title="Utility Connection">
      <tvc-utility-connection></tvc-utility-connection>
    </tvc-step-section>
  </tvc-step>
  <!-- STEP 5: Identification -->
  <tvc-step label="Identification">
    <!-- SECTION: Identification & Supporting Documentation -->
    <tvc-step-section icon="tvc-documentation" title="Identification & Supporting Documentation">
      <tvc-identification></tvc-identification>
    </tvc-step-section>
  </tvc-step>
  <!-- STEP 6: Declaration -->
  <tvc-step label="Declaration">
    <!-- SECTION: Property Inspection -->
    <tvc-step-section icon="tvc-inspection" title="Property Inspection">
      <tvc-property-inspection></tvc-property-inspection>
    </tvc-step-section>
    <!-- SECTION: Terms and Conditions -->
    <tvc-step-section icon="tvc-terms" title="Terms and Conditions">
      <tvc-terms></tvc-terms>
    </tvc-step-section>
    <!-- SECTION: Tenancy Datanase -->
    <tvc-step-section icon="tvc-database" title="Tenancy Datanase">
      <tvc-database></tvc-database>
    </tvc-step-section>
  </tvc-step>
  <!-- STEP 7: Review & Send -->
  <tvc-step label="Review & Send">
    <!-- SECTION: Send -->
    <tvc-step-section icon="tvc-done" title="Send">
      <tvc-send></tvc-send>
    </tvc-step-section>
  </tvc-step>
</tvc-stepper>