<form class="tvc-step-form" [formGroup]="formGroup">

  <div class="tvc-step-content-row radio-buttons tvc-radio-button-group">
    <p class="text">Selecting the right utility provider can make your move easier and may save you money.<br/><br/>
      Would you like a call to your moving date to help arrange connection to your gousehold services? You'll get a phone call, email and help to compare and select a plan available suppliers.
    </p>
    <mat-radio-group formControlName="call">
      <mat-radio-button [value]="true">Yes</mat-radio-button>
      <mat-radio-button [value]="false">No</mat-radio-button>
    </mat-radio-group>
  </div>

  <div *ngIf="call.value" class="tvc-step-content-row utility-terms">
    <div class="header">
      <div class="tvc-step-content-item">
        <mat-checkbox class="tvc-checkbox"
            formControlName="terms"
            [labelPosition]="after"
            required>
          I agree to the <a href="">Terms and Conditions</a>
        </mat-checkbox>
    
        <div *ngIf="terms.invalid && terms.touched" class="error">
          <div *ngIf="terms.errors.required">
            You must accept the terms and conditions
          </div>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="icon">
        <mat-icon class="icon" svgIcon="tvc-info"></mat-icon>
        <span>Privacy information</span>
      </div>
      <p class="text">Your personal information will be passed on to the real estate agent ot property manager for this property so that they can assist you with tour requested connection service. thirs party provider polices, terms and conditions may apply. Our <a href="">Privacy Policy</a> explains how we collect, use, disclose and store personal information and how  you may access, correct or complain about the handling of personal information.</p>
    </div>
  </div>

</form>