.tvc-checkbox.mat-checkbox-checked {
  .mat-checkbox-layout {
    .mat-checkbox-inner-container {
      .mat-checkbox-background {
        background-color: #0088cc;
      }
    }
  }
}
.tvc-checkbox {
  .mat-checkbox-layout {
    .mat-checkbox-inner-container {
      margin-top: 4px;
    }
    .mat-checkbox-label {
      width: 100%;
      max-width: 100%;
      word-break: break-word;
      white-space: normal;
    }
  }
}
.tvc-checkbox.thin {
  .mat-checkbox-inner-container {
    margin: 0;
    .mat-checkbox-frame {
      border: 1px solid #91A0AA;
    }
  }
  &.mat-checkbox-checked {
    .mat-checkbox-layout {
      .mat-checkbox-inner-container {
        .mat-checkbox-background {
          background-color: transparent;
          .mat-checkbox-mixedmark {
            background-color: #91A0AA;
          }
        }
      }
    }
  }
}